.a12 {
	font-family: "open Sans";
	font-size: 12px;
}
.b15 {
	font-family: "open Sans";
	font-size: 15px;
}
.c46 {
	font-family: "open Sans";
	font-size: 46px;
}
.d18 {
	font-family: "open Sans";
	font-size: 18px;
	line-height: 36px;
}
.e16 {
	font-size: 16px;
	line-height: 25px;
	font-family: "open Sans";
}
.f35 {
	font-family: "open Sans";
	font-size: 35px;
}
.g67 {
	font-family: "open Sans";
	font-size: 67px;
}
.h20 {
	font-family: "open Sans";
	font-size: 20px;
}
.j40 {
    font-family: "open Sans";
	font-size: 40px;
}
.k20 {
	font-family: "Open Sans Semibold";
	font-size: 20px;
	line-height: 37px;
}
.L19 {
	font-family: "open Sans";
	font-size: 19px;
	line-height: 37px;
}
.n24 {
	font-family: "open Sans";
	font-size: 24px;
}
.o29 {
	font-family: "Open Sans Semibold";
	font-size: 29px;
	line-height: 32px;
}
.p37 {
	font-family: "Open Sans Semibold";
	font-size: 36px;
}
